.assessment-overview-container {
  margin-top: 2rem;
  
  margin-bottom: 2rem;
  padding: 1rem 100px;
  
  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.summary-block {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.summary-block h4 {
  margin-bottom: 0.5rem;
}

.summary-block ul,
.summary-block ol {
  padding-left: 1rem;
}

.assessment-block {
  background: #ffffff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  min-width: 200px;
}
ul { 
    list-style-type: none;
}

.snapshot-text {
  text-align: center;
  margin-bottom: 30px;
}

.intro-text {
  text-align: left;
  display: inline-block;
  max-width: 100%;   
}

.centered-list {
  list-style-position: inside;
  display: inline-block;
  /* text-align: left; */
  margin: 0 auto;
  padding-left: 0;
}

.centered-list li {
  margin-bottom: 8px;
}
