.org-summary-container {
  margin-top: 2rem;
  margin-right: 40px;
  margin-left: 40px;
  padding: 1rem 100px;
  
  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.summary-block {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  
}

.summary-block h4 {
  margin-bottom: 0.5rem;
}

.org-units-block {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.org-card {
  background: #ffffff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  min-width: 200px;
}

ul { 
  list-style-type: none;
}